apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: h5p-staticfiles-server-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: h5p-staticfiles-server
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/h5p-staticfiles-server"
