apiVersion: v1
kind: Service
metadata:
  name: h5p-staticfiles-server-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: h5p-staticfiles-server
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: h5p-staticfiles-server
  selector:
    app: h5p-staticfiles-server
