apiVersion: v1
kind: ConfigMap
metadata:
  name: h5p-staticfiles-server-db-init-file
  namespace: {{ NAMESPACE }}
  labels:
    app: h5p-staticfiles-server
data:
  update.sh: |
    #!/bin/bash
    git clone https://github.com/hpi-schul-cloud/h5p-staticfiles-server.git
    cd h5p-staticfiles-server
    export PGPASSWORD=$DB_PASSWORD
    until psql -h $DB_HOST -U $DB_USERNAME -d $DB_DATABASE -c "select 1" > /dev/null 2>&1; do
      echo "Waiting for postgres server..."
      sleep 1
    done
    psql -U $DB_USERNAME -d $DB_DATABASE -h $DB_HOST -a -f schema.sql
